OPENAI_API_KEY=<your api key here>
OPENAI_MODEL=gpt-4o-mini (a default model)
HF_TOKEN=<your Hugging Face token here> # Es opcional. Es para tener mayor velocidad y rate limit. Funciona igual si no se define, pero saldrá un warning.